@(title: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        @* Global stylesheet from public directory *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")"/>
        @* Stylesheet bundle containing component styles for Angular app *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("ui/styles.bundle.css")"/>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")"/>
    </head>
    <body>
        @* Angular AppComponent *@
        <app-root>Loading...</app-root>

        @* Built Angular bundles *@
        <script src="@routes.Assets.versioned("ui/inline.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("ui/polyfills.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("ui/vendor.bundle.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("ui/main.bundle.js")" type="text/javascript"></script>
    </body>
</html>
